<a href="https://colab.research.google.com/github/veniapputrii/Data-Analyst-using-Python/blob/main/Python_Anf%C3%A4nger.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#heute lerne ich am 28.Jan
#impotiere das Werkzeug 'Pandas'
import pandas as pd

#erstelle einfache Daten (ein Wörterbuch)
daten = {
    'Name' : ['Anna', 'Bob', 'Charlie', 'David', 'Eva'],
    'Alter': [24, 30, 22, 35, 30],
    'Stadt': ['Berlin', 'München', 'Hamburg', 'Köln', 'Frankfurt'],
    'Gehalt': [6000, 4200, 2800, 3400, 1300]
}

#handle die Daten in eine Tabelle um (einen 'DateFrame')
df = pd.DataFrame(daten)

#Zeige die ersten Zeilen an
print('hier ist deine Tabelle:')
display(df)

#eine erste kleine Analyse: wie hoch ist das Durchschnittsgehalt?
durchschnitt = df['Gehalt'].mean()
print(f'\nDas Durchschnittliche Gehalt beträgt: {durchschnitt} Euro')

hier ist deine Tabelle:

      Name  Alter      Stadt  Gehalt
0     Anna     24     Berlin    6000
1      Bob     30    München    4200
2  Charlie     22    Hamburg    2800
3    David     35       Köln    3400
4      Eva     30  Frankfurt    1300

Das Durchschnittliche Gehalt beträgt: 3540.0 Euro